@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --primary-color: rgb(197, 37, 56);
    --box-width: 300px;
    --box-large: 370px;
    --color-white: #EDEDED;
    --color-black: #000000;
    --color-card: #ffffff;
    --color-gris: #353131;
    --border-radius: 0.5rem;
    --color-ejemplo-img: #00000044;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Form */

#envoltura {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/background-login.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

.envoltura {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.envoltura h1 {
    font-size: 36px;
    text-align: center;
}

.envoltura .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {

    color: #fff;

}

.input-box i {
    position: absolute;
    right: 20px;
    top: 25px;
    transform: translateY(-50%);
    font-size: 20px;

}

.envoltura .recordarme {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.recordarme label input {
    accent-color: #fff;
    margin-right: 3px;
}

.recordarme a {
    color: #fff;
    text-decoration: none;
}

.recordarme a:hover {
    text-decoration: underline;
}

.envoltura .btn {
    padding: 12px;
    display: block;
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.envoltura .link-registro {
    font-size: 14.5px;
    text-align: center;
    margin: 25px 0 0 0;
}

.link-registro p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.link-registro p a:hover {
    text-decoration: underline;
}

/* Home */

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #F7EFD8;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 100px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    transition: all 0.3s ease;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #333128;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #cart {
    display: none;
    opacity: 0;
}

.submenu:hover #cart {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

table {
    width: 100%;
    text-align: center;
}

th,
td {
    color: #FFFFFF;
}

a,
button {
    transition: all 0.3s ease;
}

a:hover,
button:hover {
    transform: scale(1.1);
}

.btn-1 {
    display: inline-block;
    margin-top: 15px;
    padding: 7px 25px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: var(--primary-color);
}

.header-content {
    display: flex;
}

.header-txt {
    flex-basis: 50%;
}

.header-txt span {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 15px;
    display: block;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 1;
    color: #333128;
    margin-bottom: 25px;
}

.header p,
.information p {
    font-size: 16px;
    color: #181713;
    margin-bottom: 45px;
}

.btn-2 {
    display: inline-block;
    padding: 13px 25px;
    color: #FFFFFF;
    border-radius: 25px;
    background-color: var(--primary-color);
    text-transform: capitalize;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    width: 350px;
    border-radius: 50px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    50% {
        transform: translate(0, 8px);
    }
}

.information {
    width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 25px 75px;
    margin-top: -75px;
    margin-bottom: 75px;
    background-color: #FFFFFF;
}

.information-content {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.info img {
    width: 35px;
}

h3 {
    font-size: 17px;
    color: #181713;
    text-transform: capitalize;
}

.info p {
    margin-bottom: 0;
}

/* Scroll */

.products {
    scroll-margin-top: 55px;
}

/* Products */

.products {
    padding: 0 0 100px 0;
    text-align: center;
}

.products h2 {
    font-size: 40px;
    color: #181713;
    text-transform: capitalize;
    margin-bottom: 55px;
}

.container-section {
    display: flex;
    gap: 2rem 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cards.cardsGrid {
    background-color: var(--color-card);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: var(--box-large);
    width: var(--box-width);
    border-radius: var(--border-radius);
    transition: all 0.3s ease;
}

.cards.cards.cardsGrid:hover {
    box-shadow: 2px 19px 24px -5px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 2px 19px 24px -5px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 2px 19px 24px -5px rgba(0, 0, 0, 0.83);
}

.products img {
    cursor: pointer;
    background-color: #764545;
    height: 10rem;
    width: 100%;
    border-radius: var(--border-radius);
}

.products h1 {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.products h4 {
    margin: 10px 0;
    overflow: clip;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.products p,
.products button {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0 0 10px 0;
}

.ul-list {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.80rem;
}

.ul-list,
.item-list {
    list-style: none;
}

.item-list .list-button {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 0.75rem;
    color: var(--color-black);
    border: var(--color-gris);
    border-radius: 0.55rem;
    transition: all 0.3s ease;
    margin: 0;
    background-color: rgb(197, 37, 56);
    color: #ffff;
}

.list-button:hover {
    transform: scale(1.1);
}

.list-button:focus {
    background-color: var(--color-ejemplo-img);
    border: 2px solid var(--color-black);
    box-shadow: inset 0px 1px 4px var(--color-black);
}

.special span {
    margin: 0 10px;
}

.buy-button {
    background-color: var(--primary-color);
    color: #ffff;
    border: 0;
    border-radius: 0.55rem;
    padding: 10px;
}

.buy-button:hover {
    background-color: rgb(155, 20, 36);
}

footer {
    padding: 40px 0;
    background-color: var(--primary-color);
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -10px;
}

.footer-column h3 {
    text-align: center;
    color: #FFFFFF;
    font-size: 17px;
    margin-bottom: 10px;
}

.footer-column a {
    color: #F3F3F3;
    font-size: 15px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.footer-column a:hover {
    color: #FFFFFF;
}

.footer-column form {
    margin-top: 10px;
    text-align: center;
}

.footer-column label {
    font-size: 15px;
    display: block;
    color: #FFFFFF;
    margin: 5px 0px;
}

.footer-column input[type="text"],
.footer-column input[type="email"] {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
}

.footer-column button[type="submit"] {
    margin-top: 9px;
    display: inline-block;
    padding: 10px 25px;
    color: var(--primary-color);
    border-radius: 25px;
    background-color: var(--color-white);
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .container {
        max-width: 900px;
    }
}

@media (max-width: 991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a {
        color: #FFFFFF;
    }

    .menu .navbar ul li a:hover {
        transform: translateX(15px);
    }

    .logo {
        display: none;
    }

    #menu:checked~.navbar {
        display: initial;
        animation: fadeOut 1s ease;
    }

    @keyframes fadeOut {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .submenu:hover #cart {
        min-width: 300px;
    }

    .header {
        min-height: 0vh;
        padding: 100px 30px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
        margin-bottom: -40px;
    }

    .header-img {
        margin-top: 45px;
    }

    .header-img img {
        width: 300px;
    }

    .information {
        display: none;
    }

    .products {
        padding: 30px;
    }

    footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 15px;
    }

    .footer-column input[type="text"],
    .footer-column input[type="email"] {
        width: 70%;
    }
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}